* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "ComicShannsMono Nerd Font";
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #dde1e6;
  /* border: 1px solid #fff; */
}

//Global Styles
.katti-bar {
  /* background-color: #282a36; */
  background-color: #000;
  padding: 0 12px;
  margin: 12px;
}

.icon-box {
  padding: 12px;
}

.datetime-box {
  padding: 12px;
}

.katti-notifications {
  margin: 12px;
}

.notification {
  /* background-color: #000; */
  margin-right: 6px;
  /* padding: 12px 24px; */
}

.notification .title {
  padding: 12px 24px 12px 14px;
  background: #000;
}

.notification .title label {
  font-weight: bold;
  font-size: 18px;
}

.notification .message {
  padding-left: 10px;
  background: #000;
}

.notification .message label {
  font-size: 16px;
  font-weight: normal;
}

