theme = "snazzy"

[editor]
line-number = "relative"
cursorline = true
rulers = [80]

[editor.lsp]
display-inlay-hints = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false
